<h1>Profile</h1>
<p> User: <%= @user.name %> </p>
<% check = 0 %>
<p>
    <ul>
        <li> Past Events </li>
        <% @attendeds.each do |attended| %> 
            <% if attended.eventdate > Date.today and check == 0 %>
                    <p> Future events </p>
                    <% check = 1 %>
            <% end %>
            <li>
                <%= attended.description %>
                <%= attended.eventdate %>
            </li>
        <% end %>
    </ul>
</p>

<%= link_to "All events ", events_path %>